# Required
CORS_ORIGINS=http://localhost:3000
NODE_ENV=development
PORT=8080

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/your_database_name?schema=public
JWT_SECRET=replace-with-a-strong-random-secret

# compulsory for the project search tool
# Get a PAT from here https://github.com/settings/developers
GITHUB_PERSONAL_ACCESS_TOKEN=token-from-your-github-account